@import "compass";

body.signin {
  text-align: center;
  h1 {
    background: url("../images/logo.gif") no-repeat center 0;
    color: #aaa;
    font-size: 80px;
    font-variant: small-caps;
    letter-spacing: 2px;
    margin: 100px auto 0;
    padding: 320px 0 10px;
    text-transform: lowercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  }
  .intro {
    font-size: 20px;
    line-height: 1.5;
    margin: 50px auto 80px;
    width: 60%;
  }
  button {
    @include background-image(radial-gradient(100px 100px, 
      darken(#4DA9F0, 5%) 50px, darken(#3599E6, 5%) 100px));
    @include border-radius(50px);
    @include transition(all);
    border: 10px solid #f2f2f2;
    color: #fff;
    font-size: 30px;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
    i {
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      display: block;
      float: left;
      padding: 10px 10px 5px 15px;
    }
    span {
      border-left: 1px solid rgba(53, 153, 230, 0.5);
      display: block;
      float: right;
      padding: 10px 25px 5px 20px;
      text-transform: lowercase;
    }
    button:hover {
      border: 10px solid #f6f6f6;
      @include background-image(radial-gradient(100px 100px, 
        #4DA9F0 50px, #3599E6 100px));
    }
  }
}