/* line 3, /Users/Celine/Index/Web/dhcs/source/stylesheets/signin.css.scss */
body.signin {
  text-align: center; }
  /* line 5, /Users/Celine/Index/Web/dhcs/source/stylesheets/signin.css.scss */
  body.signin h1 {
    background: url("../images/logo.gif") no-repeat center 0;
    color: #aaa;
    font-size: 80px;
    font-variant: small-caps;
    letter-spacing: 2px;
    margin: 100px auto 0;
    padding: 320px 0 10px;
    text-transform: lowercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
  /* line 16, /Users/Celine/Index/Web/dhcs/source/stylesheets/signin.css.scss */
  body.signin .intro {
    font-size: 20px;
    line-height: 1.5;
    margin: 50px auto 80px;
    width: 60%; }
  /* line 22, /Users/Celine/Index/Web/dhcs/source/stylesheets/signin.css.scss */
  body.signin button {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjEwMHB4IiBjeT0iMTAwcHgiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzU5ZWVlIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWU4ZWUzIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -moz-radial-gradient(100px 100px, #359eee 50px, #1e8ee3 100px);
    background-image: -webkit-radial-gradient(100px 100px, #359eee 50px, #1e8ee3 100px);
    background-image: radial-gradient(100px 100px, #359eee 50px, #1e8ee3 100px);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-transition: all;
    -o-transition: all;
    -webkit-transition: all;
    transition: all;
    border: 10px solid #f2f2f2;
    color: #fff;
    font-size: 30px;
    padding: 0;
    text-decoration: none;
    vertical-align: top; }
    /* line 33, /Users/Celine/Index/Web/dhcs/source/stylesheets/signin.css.scss */
    body.signin button i {
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      display: block;
      float: left;
      padding: 10px 10px 5px 15px; }
    /* line 39, /Users/Celine/Index/Web/dhcs/source/stylesheets/signin.css.scss */
    body.signin button span {
      border-left: 1px solid rgba(53, 153, 230, 0.5);
      display: block;
      float: right;
      padding: 10px 25px 5px 20px;
      text-transform: lowercase; }
    /* line 46, /Users/Celine/Index/Web/dhcs/source/stylesheets/signin.css.scss */
    body.signin button button:hover {
      border: 10px solid #f6f6f6;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjEwMHB4IiBjeT0iMTAwcHgiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNGRhOWYwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzU5OWU2Ii8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
      background-size: 100%;
      background-image: -moz-radial-gradient(100px 100px, #4da9f0 50px, #3599e6 100px);
      background-image: -webkit-radial-gradient(100px 100px, #4da9f0 50px, #3599e6 100px);
      background-image: radial-gradient(100px 100px, #4da9f0 50px, #3599e6 100px); }
