---
title: [confirm that friend for the challenge]
style: challenge-confirm
---

<div class="matchup">
  <ul class="small-block-grid-2">
    <li>
      <div class="friend">
        <%= image_tag 'friend.gif' %>
      </div>
    </li>
    <li>
      <div class="you">
        <%= image_tag 'you.png' %>
      </div>
    </li>
</div>

<% link_to 'photo', :class => 'button' do %>
  Start a game <span>with <em>Friend's Name</em>?</span>
<% end %>

<% link_to 'new', :class => 'button secondary' do %>
  Choose someone else
<% end %>