---
title: [new challenge]
---

<ul class="friends-list">
  <% for i in 0..13 %>
    <li>
      <% link_to '/challenge/confirm' do %>
        <figure>
          <%= image_tag 'friend.gif' %>
        </figure>
      <% end %>
    </li>
  <% end %>
</ul>

<hr>

<div class="prompt">
  <div class="you">
    <%= image_tag 'you.png' %>
  </div>
  <div class="instructions">
    Choose a friend to play with
  </div>
</div>