---
title: [take a photo TODO: phone permissions]
---

<nav>
  <ul>
    <li class="ss-icon previous">
      <%= link_to "previous", "confirm" %>
    </li>
    <li class="ss-icon next">
      <%= link_to "next", "confirm" %>
    </ul>
</nav>

<div class="tutorial">
  <h2>You vs Friend</h2>
  <p>It's your turn to take a picture!</p>
</div>

<div class="camera-icon">
  <!-- on click ask for camera permission -->
  <i class="ss-icon">camera</i>
</div>