<script>
  $(document).ready(function() {
    $('#colorpicker').farbtastic('#color');
    $('#colorpicker').addTouch();
  });   
</script>
<form><input type="text" id="color" name="color" value="#000000" /></form>
<div id="colorpicker"></div>