---
title: Rothko [logged in]
---



<div id="user-information">
  <div class="facebook-profile-picture"></div>
  <div class"profile">
    <h3>Hello, Name!</h3>
  </div>
</div>

<a href="challenge/new" id="new-challenge">
  <h2>New Challenge</h2>
</a>


<div id="current-challenges">
  <h3>Current challenges</h3>
</div>

<hr>

<div id="past-challenges">
  <h3>Past challenges</h3>
</div>