---
title: [not logged in]
---

<h1 class="welcome">Rothko</h1>
<div>
  <p class="intro">Rothko is a color game you can play with friends. Lorem ipsum dolor sit amet.</p>
  <a href="/">
    <button>
      <i class="ss-icon">facebook</i>
      <span>Sign up</span>
    </button>
  </a>
</div>